.icone-pix { content: url(../fonts/icones/icone_pix.svg);}
.icone-cordova { content: url(../fonts/icones/icone_cordova.svg); }
.icone-professor { content: url(../fonts/icones/icone_professor.svg); }
.icone-costura-01 { content: url(../fonts/icones/icone_costura_01.svg); }
.icone-imposto-renda-01 { content: url(../fonts/icones/icone_ir_01.svg); }
.icone-contador-01 { content: url(../fonts/icones/icone_contador_01.svg); }
.icone-contador-02 { content: url(../fonts/icones/icone_contador_02.svg); }