.icone-pix { content: url(../fonts/icones/icone_pix.svg);}
.icone-cordova { content: url(../fonts/icones/icone_cordova.svg); }
.icone-professor { content: url(../fonts/icones/icone_professor.svg); }
.icone-costura-01 { content: url(../fonts/icones/icone_costura_01.svg); }