<h2>LOOP SIMPLES</h2>
<code>Objeto </code>
<pre><kbd>app.component.ts</kbd>
users = [
  {
    name: "Anil Yadav"
  },{
    name: "Anil Singh",
    qualification: [ { title: "BSc", year: 2015 } ]
  },{
    name: "Dhiru Singh",
    qualification: [
    {
      title: "MCA",
      year: 2014,
      subjects: [ { title: "Database",duration: 60 } ]
    },{
      title: "BA",year: "2009",
      subjects: [ { title: "History",duration: 60 } ]
    } 
  ]
}]; </pre>

<pre><kbd>app.component.html</kbd>
    &lt;table *ngFor="let user of users"&gt;
    &lt;tr&gt;
        &lt;td&gt;{{user.name}}&lt;/td&gt;
        &lt;td&gt;-&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr *ngFor="let qualifica of user.qualification"&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt; {{ qualifica.title }} &lt;/td&gt;
    &lt;div *ngFor="let subject of qualifica.subjects" &gt;
        {{subject.title}}
    &lt;/div&gt;
    &lt;/tr&gt;
&lt;/table&gt;
</pre>

<pre><kbd>Resultado</kbd>
  Anil Yadav	-
  Anil Singh	-
    BSc
  Dhiru Singh	-
    MCA Database
    BA History</pre>
<a href="https://stackblitz.com/edit/angular-ngfor-nested-loop?file=src%2Fapp%2Fapp.component.ts">Fonte</a>

<h2>LOOP COM INDEX</h2>
<pre>
&lt;ul&gt;
  &lt;li *ngFor="let item of items; let i = index" [attr.data-index]="i"&gt;
      {{item}}
  &lt;/li&gt;
&lt;/ul&gt;  
</pre>

<br><a href="https://stackoverflow.com/questions/35405618/ngfor-with-index-as-value-in-attribute" target="_blank">stackoverflow</a>